@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navBarMobile {
  display: none;
}

.buttonNavBar {
  display: none;
}

.ulNavBarMobile {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #333333;
  max-width: 100%;
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  padding: 2px;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.containerMenu {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 10rem;
}

.buttonNavgation {
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: solid 4px #333333;
  margin: 0 20px 0 20px;
  font-size: 18px;
  color: white;
}

.buttonNavgation:hover {
  border-bottom: 3px solid #B0D4F5;
}

.navgationLink {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
}

.navgationLink:hover {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.buttomDarkLightView {
  width: 40px;
  height: 40px;
  margin-right: 10rem;
  border-radius: 50%;
  color: #0c0912;
  background-color: aliceblue;
  border: 1px solid #333333;
  transition: 0.5s linear;
}

.buttomDarkLightView:hover {
  color: white;
  background-color: #333333;
  border: 1px solid aliceblue;
}

.ButtonViewOff {
  display: none;
}

.ButtonLightViewOn {
  display: block;
}

@media screen and (max-width: 1020px) {
  .containerMenu {
    margin-left: 5rem;
  }

  .buttomDarkLightView {
    margin-right: 5rem;
  }
}

@media screen and (max-width: 760px) {

  .containerMenu {
    margin-left: 50px;
  }

  .buttonNavgation {
    height: 35px;
    margin: 0 15px 0 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {

  .containerMenu {
    margin-left: 15px;
  }

  .buttonNavgation {
    margin: 0 10px 0 2px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {

  .bgMobileNavBar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(93, 95, 121, 0.7);
  }

  .navBarMobile {
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
    width: calc(100vw - 30%);
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 1s;
  }
  .navBarMobileDark {
    background-color: #333333;
  }

  .showNavBarMobile {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .headerContainer {
    display: none;
  }

  .buttonNavBar {
    display: block;
    border: none;
    background: transparent;
    background-color: transparent;
  }

  .buttonClose {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem 2rem 0 0;
  }

  .ulNavBarMobile {
    display: flex;
    flex-direction: column;
    padding: 5rem 0 0 1rem;
  }

  .navSlotHeader {
    padding: 0.75rem;
  }

  .header {
    max-width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem
  }

  .navigationMenu {
    display: none;
  }

  .navgationLink {
    text-decoration: none;
    color: black;
    background: transparent;
    border: none;
  }

  .navgationLinkDark {
    text-decoration: none;
    color: white;
    background: transparent;
    border: none;
  }
  .nav {
    display: none;
  }

  .buttonNavgation {
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: none;
    margin: 0;
    font-size: 18px;
    padding: 0.75rem;
  }

  .buttonNavgation:hover {
    border-bottom: none;
  }
}